td, tr {
   text-align: center;
   background-color: pink
};

td.inOperation {
   background-color: green;
};

td.inDowntime {
   background-color: orange;
};

td.inAlert {
   background-color: red;
};